.entire {
    margin-top: 0px;
margin: 0 auto;
display: flex;
width:95%;
height: 70px;
background-color: white;
border-bottom: 1px solid black;
}


.entire .logo{
    margin: 0px 0px 0px 0px;

    display: flex;
    
    margin-right:auto;
    margin-bottom: 0px;

    
    
 
}
.entire .logo .logoimg{
    margin-bottom: 0px;
}


.entire .logo .logotitle >h5{
    margin-left: 5px;

margin-top: 29px;
font-weight: 500;
letter-spacing: 0.2px;
  background-color: white;
  font-family: 'neue-machina', 'Neue Montreal', sans-serif;
  font-style: italic;


}
.entire .logo .logoimg>img{
    width:42px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.entire .category{
    
    margin-bottom: 0px;
}

.entire .category .category_sub{
    
     margin-top: 44px;
     margin-bottom: 0px;
}

.entire .category >ul{
    list-style: none;
    display: flex;
    
    
}


.entire .category >ul >li{
  width:140px;
  letter-spacing: 0.8px;
  text-align: center;
  font-family:"Pretendard Variable", pretendard, -apple-system, blinkmacsystemfont, system-ui, roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    
}
.entire .sns >ul{
    list-style: none;
    display: flex;
    
    
}

.entire .sns >ul >li{
    margin-top: 24px;
    width: 80px;
    font-family: 'neue-machina', 'Neue Montreal', sans-serif;
    font-weight: 500;
    
    
}

.entire .sns{
    margin-left:auto;

    
    background-color: white;
}

@media screen and (max-width: 800px) {


    .entire .category >ul{
        
        display: flex;
        flex-direction: column;
        
    }
    
}
