.sub_con{
  padding: 8px 20px 8px;
  color:white;
  background-color: black;
  border: solid black 1px;
  border-radius: 30px;
  width:100px;
  margin-left: 50% ;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Work Sans ' ,'arial' ,'Nanumgothic' ,'sans-serif';
}


@font-face {
  font-family: "AbhayaLibre";
  src: url("./font/AbhayaLibre-ExtraBold.ttf")
}
@font-face {
font-family: "Apple";
src: url("./font/AppleSDGothicNeoUL.ttf")
}
@media print {
  .icon-print {
    text-indent: -10000px;
  }
}

@media all  {
  .GraduateList {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
  }

  .GraduateList::after {
    pointer-events: none;
    content: "";
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
  }

  /*
  .Title {
    font-family: "AbhayaLibre";
    letter-spacing: 10px;
    text-align: center;
}*/

  .Group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .Group::after{
    content: "";
    display: block;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .GroupName {
    width: 50%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: AbhayaLibre, sans-serif;
    letter-spacing: 5px;
  }

  .MembersList {
    width: 50%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: Apple, sans-serif;
    letter-spacing: 5px;
  }

  .Member-Container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
  }

  .MemberWrap{
    width: 50%;
    position: relative;
  }

  .MemberWrap::before {
    content: "";
    display: block;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .MemberWrap a {
    color:black;
    text-decoration: none;
  }

  .m0, .m1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .m0::after {
    content: "";
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m1::after {
    content: "";
    display: block;
    box-sizing: border-box;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m2, .m3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: relative;
  }

  .m2::after {
    content: "";
    display: block;
    box-sizing: border-box;
    border: 1px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m3::after {
    content: "";
    display: block;
    box-sizing: border-box;
    border-left: 1px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .img {
    width: 100%;
    max-width: 200px; 
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    position: relative;
  }
  
  .img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .img::after{
    content: "";
    display: block;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }      

  .text {
    width: 60%;
    text-align: center;
    padding-top: 10px;
    font-family: Apple, sans-serif;
    letter-spacing: 5px;
  }
}