.sub_con{
  padding: 8px 20px 8px;
  color:black;
  background-color: white;
  border: solid black 1px;
  border-radius: 30px;
  width:100px;
  margin-left: 50% ;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Work Sans ' ,'arial' ,'Nanumgothic' ,'sans-serif';
}


@font-face {
  font-family: "AbhayaLibre";
  src: url("./font/AbhayaLibre-ExtraBold.ttf")
}
@font-face {
font-family: "Apple";
src: url("./font/AppleSDGothicNeoUL.ttf")
}
@media print {
  .icon-print {
    text-indent: -10000px;
  }
}

@media all  {
  .GraduateList {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
  }

  .GraduateList::after {
    pointer-events: none;
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
  }

  .Member-Container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
  }

  .MemberWrap{
    width: 22%;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
  }

  .MemberWrap::before {
    content: "";
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10% 10% 5% 5%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .MemberWrap a {
    color:black;
    text-decoration: none;
  }

  .m0, .m1, .m2, .m3 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .m0::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m1::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m2::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .m3::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .img {
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5% 5% 0 0;
  }

  .img::after{
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }      

  .name {
    width: 40%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    font-family: Apple, sans-serif;
    letter-spacing: 5px;
  }

  .group {
    width: 40%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
    font-family: Apple, sans-serif;
    letter-spacing: 5px;
  }
}